<div class="container">

<div class=" container card">
    <div class="card-body">
        <h1>Universidad Pedagogica y Tecgnologica de colombia </h1>
        <p>asfda</p>
    </div>
</div>
<br>
<br>
<br>



</div>


